---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Education from '../components/Education.astro';
import Work from '../components/Work.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';
import CircularProgressBar from '../components/CircularProgressBar';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

const tecno = [
		{
            "tecnologyname":"HTML5",
            "level":"80",
            "source":"assets/logos/html.png",
            "color":"#E34F26",
        },
        {
            "tecnologyname":"CSS",
            "level":"60",
            "source":"assets/logos/css.png",
            "color":"#1572B6",
        },
        {
            "tecnologyname":"JavaScript",
            "level":"55",
            "source":"assets/logos/js.png",
            "color":"#F7DF1E",
        },
        {
            "tecnologyname":"Python",
            "level":"45",
            "source":"assets/logos/py.png",
            "color":"#3776AB",
        },
        {
            "tecnologyname":"Dart",
            "level":"50",
            "source":"assets/logos/dart.png",
            "color":"#0175C2",
        },
        {
            "tecnologyname":"PHP",
            "level":"55",
            "source":"assets/logos/php.png",
            "color":"#777BB4",
        },
];
const frame = [
		{
            "framename":"Astro",
            "level":"80",
            "source":"assets/logos/astro.jpg",
            "color":"#ff5705",
        },
        {
            "framename":"React",
            "level":"60",
            "source":"assets/logos/react.png",
            "color":"#01ccff",
        },
        {
            "framename":"Boostrap",
            "level":"55",
            "source":"assets/logos/boostrap.png",
            "color":"#563e7c",
        },
];
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hello, my name is Miguel Gutierrez"
					tagline="I am a student of Software Engineering, currently in the last year of the career."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="basketball" size="1.33em" /> Player</Pill>
						<Pill><Icon icon="books" size="1.33em" /> Philosophy</Pill>
						<Pill><Icon icon="guitar" size="1.33em" /> Guitarist</Pill>
					</div>
				</Hero>

				<img
					alt="Miguel picture"
					width="480"
					height="620"
					src="/assets/CVfoto.jpeg"
				/>
			</header>
			<!--<Skills />-->
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Selected Work</h3>
					<p>Take a look below at some of my develompents.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Languages</h3>
					<p>
						These are the main languages that I have used in my projects.
					</p>
				</header>
				<div class="gallery">
					<Grid variant="small">
						{
							tecno.map((item) => (
								<CircularProgressBar
									value={item.level}
									src={item.source}
									color={item.color}/>
							))
						}
					</Grid>
				</div>
			</section>
			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Frameworks</h3>
					<p>
						These are the Frameworks that I have used in projects.
					</p>
				</header>
				<div class="gallery">
					<Grid variant="small">
						{
							frame.map((item) => (
								<CircularProgressBar
									value={item.level}
									src={item.source}
									color={item.color}/>
							))
						}
					</Grid>
				</div>
			</section>
		</main>
		
		<div id="about" class="stack gap-20 lg:gap-48">
			<main class="wrapper about gap-8 lg:gap-20">
				<Hero
					title="About me"
					tagline="Thanks for stopping by. Read below to learn more about myself and my background."
				>
					<img
						width="1553"
						height="873"
						src="/assets/stock-1.jpg"
						alt="Jeanine White at work with a colleague"
					/>
				</Hero>
			</main>
		</div>
		<div class="stack gap-20 lg:gap-48">
			<div class="wrapper stack gap-8 lg:gap-20">
				<header class="section-center">
					<h3>Education</h3>
					<br/>
					<Education />
				</header>
				<header class="section-center">
					<h3>Work</h3>
					<br/>
					<Work />
				</header>
				<header class="section-center">
					<h3>Skills</h3>
				</header>
				<Skills />
			</div>
		</div>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section
	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-center {
		padding-right: 2.25rem;
		justify-self: center;
		text-align: center;
		font-size: var(--text-md);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
			padding-left: 10rem;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
